{% extends 'temas/base.html' %}
{% block js %}
    <script type="text/javascript" src="/static/angular/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/tema/js/tema.js"></script><!--referência ao módulo tema-->
    {# <script type="text/javascript" src="/static/tema/js/tema_api_mock.js"></script><!--referência ao módulo tema--> #}
    <script>

        var rest = angular.module('rest', []);
        rest.factory('TemaApi', function ($http) {
            return {
                salvar: function (tema) {
                    return $http.post('{{ rest_new_path }}', tema);
                },
                listar: function () {
                    return $http.post('{{ rest_list_path }}');
                },
                deletar: function (id) {
                    return $http.post('{{ rest_delete_path }}',{tema_id:id});
                },
                editar: function(tema) {
                    return $http.post('{{ rest_edit_path }}/',{tema_id:tema.id, titulo:tema.titulo, descricao:tema.descricao});
                }

            };
        });

        var temaApp = angular.module('temaApp', ['temaModule', 'rest']);

        function TemaController($scope, TemaApi) {
            $scope.tema = {titulo: '', descricao: ''};
            $scope.showFormFlag = false;
            $scope.listandoFlag = true;
            $scope.temaLista = [];
            TemaApi.listar().success(function (temas) {
                $scope.temaLista = temas;
                $scope.listandoFlag = false;
            });
            $scope.showOrHideForm = function () {
                $scope.showFormFlag = !$scope.showFormFlag;
            }

            $scope.addTema = function (tema) {
                $scope.temaLista.unshift(tema);
            }
            $scope.removerTema = function(tema) {
                var temaLista = $scope.temaLista;
                for(var i = 0; i < temaLista.length; i+=1) {
                    if(tema.id == temaLista[i].id) {
                        temaLista.splice(i,1);
                        break;
                    }
                }
            }
        }
    </script>
{% endblock %}
{% block body %}
    {% set tema = tema or None %}
    {% set erros = erros or None %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" ng-app="temaApp" ng-controller="TemaController">
                <button class="btn btn-success" ng-click="showOrHideForm()">Criar novo Tema</button>
                <temaform save-complete="addTema(tema)" ng-show="showFormFlag" tema="tema" titulo-label="Titulo"
                          descricao-label="Descrição"></temaform>
                <h3>Lista de Temas</h3>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th/>
                        <th>{% trans %}Título{% endtrans %}</th>
                        <th>{% trans %}Descrição{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr temalinha ng-repeat="t in temaLista" tema="t" delete-complete="removerTema(tema)"></tr>
                    </tbody>
                </table>
                <img src="/static/img/ajax.gif" ng-show="listandoFlag"/>
            </div>
        </div>
    </div>
{% endblock %}