{% extends 'base/base.html' %}
{% block js %}
    <script type="text/javascript" src="/static/angular/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/card/js/card.js"></script><!--referência ao módulo card-->
    <script type="text/javascript">

        var rest = angular.module('rest', []);
        rest.factory('CardApi', function ($http) {
            return {
                salvar: function (card) {
                    return $http.post('{{ rest_new_path }}', card);
                },
                deletar: function(id) {
                    return $http.post('{{ rest_delete_path }}', {card_id: id});
                },
                listar: function () {
                    return $http.post('{{ rest_list_path }}');
                },
                revisar: function(id) {
                    return $http.post('{{ rest_rev_path }}', {cid: id});
                }
            };
        });

        var cardApp = angular.module('cardApp', ['cardModule','rest'])
        function CardController($scope, CardApi, $http) {
            $scope.lessons = [];
            $scope.card = {frase: '', resposta: '', alternativa0: '', alternativa1: '', alternativa2: '', licao: '{{lid}}', kanji: '', image:'', audio:''}
            $scope.showFormFlag = false;
            $scope.cardLista = [];
            CardApi.listar().success(function (cards) {
                $scope.cardLista = cards;
                $scope.listandoFlag = false;
            });
            $scope.showOrHideForm = function () {
                $scope.showFormFlag = !$scope.showFormFlag;
            }
            $scope.addCard = function (card) {
                $scope.cardLista.unshift(card);
            }
            $scope.removerCard = function (card) {
                var cardLista = $scope.cardLista;
                for (var i = 0; i < cardLista.length; i += 1) {
                    if (card.id == cardLista[i].id) {
                        cardLista.splice(i, 1);
                        break;
                    }
                }
            }
        }
    </script>
{% endblock %}
{% block tabs %}
{{ select_tab('CARDS') }}
{% endblock %}
{% block body %}
    {% set card = card or None %}
    {% set erros = erros or None %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" ng-app="cardApp" ng-controller="CardController">
                <button class="btn btn-success" ng-click="showOrHideForm()">Criar novo Cartão</button>
                <cardform save-complete="addCard(card)" ng-show="showFormFlag" face="face" card="card" frase-label="Frase" resposta-label="Resposta" alternativa0-label="Alternativa" alternativa1-label="Alternativa"
                          alternativa2-label="Alternativa"></cardform>
                <div>
                    <div cardblock ng-repeat="c in cardLista" card="c" delete-complete="removerCard(card)"></div>
                </div>
            </div>
        </div>
    </div>
    {% if _logged_user and 'ADMIN' in _logged_user.groups %}
        <h1>T_T kanashii!!</h1>
    {% endif %}
{% endblock %}