{% extends 'base/base.html' %}
{% block js %}
    <script type="text/javascript" src="/static/angular/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/card/js/card.js"></script><!--referência ao módulo card-->
    <script type="text/javascript">

        var cardApp = angular.module('cardApp', ['cardModule'])
        function CardController($scope) {
            //$scope.card = {frase: '空は青いです', resposta: '空は青いです', alternativa0: '空は青いです', alternativa1: '雲は青いです', alternativa1: '雲は黒いです'}
        }
    </script>
{% endblock %}
{% block tabs %}
{{ select_tab('CARDS') }}
{% endblock %}
{% block body %}
    {% set card = card or None %}
    {% set erros = erros or None %}
    <div class="container-fluid" ng-app="cardApp">
	    <cardform></cardform>
	</div>
{% endblock %}