{% extends 'cards/base.html' %}
{% block tabs %}
{{ select_tab('CARDS') }}
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/static/angular/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/card/js/card.js"></script><!--referência ao módulo card-->
    <script type="text/javascript">

        var rest = angular.module('rest', []);
        rest.factory('CardApi', function ($http) {
            return {
                mostrar: function(id) {
                    return $http.post('{{ rest_rev_path }}', {cid: id});
                },
                revisar: function(id,status) {
                    return $http.post('{{ rest_review_path }}', {cid: id, situacao:status});
                }
            };
        });

        var cardApp = angular.module('cardApp', ['cardModule','rest'])
        function CardController($scope, CardApi, $http) {
            $scope.colors={null:'circle',false:'w_circle',true:'r_circle'}
            CardApi.mostrar().success(function (cartao) {
                $scope.cartao = cartao;
                console.log(cartao);
            });
        }
    </script>
{% endblock %}
{% block body %}
    {% set card = card or None %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" ng-app="cardApp" ng-controller="CardController">
                <cardrevisao cartao="cartao" ></cardrevisao>
            </div>
        </div>
    </div>
{% endblock %}