{% extends 'lessons/base.html' %}
{% block body %}
{% set lesson = lesson or None %}
{% set erros = erros or None %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
            <h2> Formulário de Lição</h2>
        <form role="form" action="{{ salvar_path }}" method="post">
        {{ csrf_input() }}
            Tema:
        {{ select('tema') }}
        {{ form_input('Título','titulo',lesson.titulo,erros.titulo,'') }}
		{{ form_input('Descrição','descricao',lesson.descricao,erros.descricao,'') }}
        <button class="btn btn-success" type="submit">Salvar</button>

        </form>
		</div>
	</div>
</div>
{% endblock %}