{% extends 'lessons/base.html' %}
{% block js %}
    <script type="text/javascript" src="/static/angular/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/lesson/js/lesson.js"></script><!--referência ao módulo lesson-->
    <script>

        var rest = angular.module('rest', []);
        rest.factory('LessonApi', function ($http) {
            return {
                salvar: function(lesson) {
                    return $http.post('{{ rest_new_path }}', lesson);
                },
                listar: function() {
                    return $http.post('{{ rest_list_path }}');
                },
                deletar: function(id) {
                    return $http.post('{{ rest_delete_path }}', {lesson_id: id});
                },
                editar: function(lesson) {
                    return $http.post('{{ rest_edit_path }}/',{lesson_id:lesson.id, titulo:lesson.titulo, descricao:lesson.descricao, tema: lesson.tema});
                },
                listarTemas: function() {
                    return $http.post('{{ rest_list_tema_path }}');
                },
                criarCartao: function(lesson) {
                    return $http.post('{{rest_create_card}}',{lesson_id:lesson.id})
                }
            };
        });

        var lessonApp = angular.module('lessonApp', ['lessonModule', 'rest']);

        function LessonController($scope, LessonApi) {
            $scope.temas = [];
            LessonApi.listarTemas().success(function (temas) {
                $scope.temas = temas;
            }).error(function (erros) {
                $scope.erros = erros;
            })
            $scope.lesson = {titulo: '', descricao: '', tema: ''};
            $scope.showFormFlag = false;
            $scope.showFilterFlag = true;
            $scope.listandoFlag = true;
            $scope.filtrandoFlag = false;
            $scope.lessonLista = [];
            LessonApi.listar().success(function (lessons) {
                $scope.lessonLista = lessons;
                $scope.listandoFlag = false;
            });
            $scope.showOrHideForm = function () {
                $scope.showFormFlag = !$scope.showFormFlag;
            }

            $scope.addLesson = function (lesson) {
                $scope.lessonLista.unshift(lesson);
            }
            $scope.removerLesson = function (lesson) {
                var lessonLista = $scope.lessonLista;
                for (var i = 0; i < lessonLista.length; i += 1) {
                    if (lesson.id == lessonLista[i].id) {
                        lessonLista.splice(i, 1);
                        break;
                    }
                }
            }

        }
    </script>
{% endblock %}
{% block body %}
    {% set lesson = lesson or None %}
    {% set erros = erros or None %}
    {% set temas = temas or None %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" ng-app="lessonApp" ng-controller="LessonController">
                <button class="btn btn-success" ng-click="showOrHideForm()">Criar nova Lição</button>
                <lessonform save-complete="addLesson(lesson)" ng-show="showFormFlag" lesson="lesson" temas="temas"
                            titulo-label="Titulo" descricao-label="Descrição" tema-label="Tema"></lessonform>

                <h3>Lista de Lições</h3>
                <lessonfilter ng-show="true" temas="temas"></lessonfilter>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th/>
                        <th><h4>{% trans %}Título{% endtrans %}</h4></th>
                        <th><h4>{% trans %}Descrição{% endtrans %}</h4></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr/>
                    <tr ng-hide="filtrandoFlag" lessonlinha ng-repeat="t in lessonLista" lesson="t"
                        delete-complete="removerLesson(lesson)"></tr>
                    </tbody>
                </table>
                <img src="/static/img/ajax.gif" ng-show="listandoFlag"/>
            </div>
        </div>
    </div>
{% endblock %}