{% extends 'lessons/base.html' %}
{% block body %}
{% set lesson = lesson or None %}
{% set erros = erros or None %}
<div class="container">
   <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
        <h2> Formulário de Lição</h2>
        <form role="form" action="{{ salvar_path }}" method="post">
        {{ csrf_input() }}
            Tema:
        {{ select('tema') }}
        {{ form_input('Título','titulo',lesson.titulo,erros.titulo,'') }}
		{{ form_input('Descrição','descricao',lesson.descricao,erros.descricao,'') }}
        <button class="btn btn-success" type="submit">Salvar</button>

        </form>
        <h3>Lista de Lições {{ 'do tema '+tema_selecionado.titulo if tema_selecionado}} </h3>
        <form action="{{ pesquisa_path }}">
        {{ select('tema_selecionado') }}
        <button type="submit" class="btn btn-success">Pesquisar</button>

</form>
        <ul>
            {% for lesson in lessons %}
            <li>{{ lesson.titulo }} - {{ lesson.descricao }}</li>
            {% endfor %}

</ul>
</div>

    </div>
   </div>
</div>
{% endblock %}