{% extends 'lessons/base.html' %}
{% block js %}
    <script type="application/javascript" src="/static/js/lessons.js"></script>
{% endblock %}
{% block body %}
<div class="container">
   <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
        <h2> Formulário de Lição</h2>
        {{ csrf_input() }}
        Tema:
        {% macro select(name) %}
            <select name="{{ name }}" id = "id_tema">
                {% for tema in temas %}
                    <option value="{{ tema.key.id() }}"
                            {{ 'selected="selected"' | safe if tema_selecionado==tema }}
                            >{{ tema.titulo }}</option>
                {% endfor %}
            </select>
        {% endmacro %}
        {{ select('tema') }}
        {{ form_input('Título','titulo','','','') }}
        {{ form_input('Descrição','descricao','','','') }}
            <button id="salvar-btn" class="btn btn-success">Salvar</button>
            <img src="/static/img/a.gif" id="ajax-save-gif"/>

        <div id="busca">
            <h3>Lista de Lições {{ 'do tema' + tema_selecionado.titulo if tema_selecionado }}</h3>
            <form action="{{ pesquisa_path }}">
            {{ select('tema_selecionado') }}
            <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </form>
            <ul id="lessons-ul">

            </ul>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}