{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-8 column">
					<h3 class="text-danger">
						Aprenda Japonês de uma forma diferente e de graça.
					</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron well">
				<h1>
					Seja Bem Vindo!
				</h1>
				<p>
					Primeira vez no site? Faça seu cadastro.
				</p>
				<p>
					<button type="button" class="btn btn-default">Registrar</button>
				</p>
			</div>
		</div>
	</div>
    <div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row">
				<div class="col-md-6">
					<div class="thumbnail">
						<img alt="300x200" src="http://cdn.flaticon.com/png/256/26851.png" />
						<div class="caption">
							<h3>
								Medalhas
							</h3>
							<p>
								Conclua as lições para aumentar sua coleção de medalhas e seu conhecimento no idioma.
							</p>
                        </div>
                    </div>
				</div>
				<div class="col-md-6">
					<div class="thumbnail">
						<img alt="300x200" src="http://3.bp.blogspot.com/_C_ja-pat-e0/SRZIlyN7C9I/AAAAAAAAJug/FHB6QDaaIxM/s400/nihongo.JPG" />
						<div class="caption">
							<h3>
								Idioma
							</h3>
							<p>
								As lições serão oferecidas para que haja o máximo de contato entre usuário e o idioma.
							</p>
					    </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}