{% extends 'licaos/licao_base.html' %}
{% block body %}
    {% set licao=licao or None %}
    {% set errors=errors or None %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <br/>

                <div class="well">
                    <h1 class="text-center">{% trans %}Licao Form{% endtrans %}</h1>

                    <form action="{{ save_path }}" method="post" role="form">
                        {{ csrf_input() }}
                        {{ form_input(_('Titulo'),'titulo',licao.titulo,errors.titulo) }}
                        {{ form_input(_('Descricao'),'descricao',licao.descricao,errors.descricao) }}
                        {{ form_input(_('Tema'),'tema',licao.tema,errors.tema) }}
                        <button type="submit" class="btn btn-success">{% trans %}Save{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}