{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}
<div class="container">
	<div class="row clearfix">
        <div class="col-md-12 column">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <ul class="list-unstyled">
                            {% for c in configs %}
                                <li><a href="#">{{ c }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock %}