<tr>
    <td>
        <button class="btn btn-success btn-sm" ng-hide="ajaxFlag || editFlag" ng-click="editar()">
            <i class="glyphicon glyphicon-pencil"></i>
        </button>
        <button class="btn btn-primary btn-sm" ng-hide="ajaxFlag || !editFlag" ng-click="completarEdicao()">
            <i class="glyphicon glyphicon-floppy-saved"></i>
        </button>
    </td>
    <img src="/static/img/ajax.gif" ng-show="ajaxFlag"/>
    <td>{{ lesson.id }}</td>
    <td>
        <div ng-class="{true: '', false: 'has-error'}[erros.titulo == null]">
            <span ng-hide="editFlag">{{ lesson.titulo }}</span>
            <input ng-show="editFlag" class="form-control" type="text" ng-model="lessonEdicao.titulo"/>
        </div>
    </td>
    <td>
        <div ng-class="{true: '', false: 'has-error'}[erros.descricao == null]">
            <span ng-hide="editFlag">{{ lesson.descricao }}</span>
            <input ng-show="editFlag" class="form-control" type="text" ng-model="lessonEdicao.descricao"/>
        </div>
    </td>
    <td>
        <button class="btn btn-danger btn-sm" ng-hide="ajaxFlag || editFlag" ng-click="deletar()">
            <i class="glyphicon glyphicon-trash"></i>
        </button>
        <button class="btn btn-warning btn-sm" ng-hide="ajaxFlag || !editFlag" ng-click="cancelarEdicao()">
            <i class="glyphicon glyphicon-floppy-remove"></i>
        </button>
        <img src="/static/img/ajax.gif" ng-show="ajaxFlag"/>
    </td>
</tr>