<div class="well">
    <h1>Formulário de Lição</h1>

    <div class="form-group" ng-class="{true: '', false: 'has-error'}[erros.titulo == null]">
        <label for="titulo-input" class="control-label">{{ tituloLabel }}</label>
        <input type="text" placeholder="A-O" class="form-control" id="titulo-input" ng-model="lesson.titulo"/>
        <span class="help-block" ng-show="erros.titulo">{{ erros.titulo }}</span>
    </div>
    <div class="form-group" ng-class="{true: '', false: 'has-error'}[erros.descricao == null]">
        <label for="descricao-input" class="control-label">{{ descricaoLabel }}</label>
        <input type="text" placeholder="Coluna do A" class="form-control" id="descricao-input" ng-model="lesson.descricao"/>
        <span class="help-block" ng-show="erros.descricao">{{ erros.descricao }}</span>
    </div>
    <div class="form-group" ng-class="{true: '', false: 'has-error'}[erros.tema == null]">
        <label for="tema-input" class="control-label">{{ temaLabel }}</label>
        <select class="form-control" ng-model="lesson.tema" ng-options="t.id as t.titulo for t in temas">
            <option value="">--Selecione um tema--</option>
        </select>
        <span class="help-block" ng-show="erros.tema">{{ erros.tema }}</span>
    </div>
    <button type="submit" class="btn btn-success" ng-click="salvar()" ng-hide="savingFlag">Salvar</button>
    <img src="/static/img/ajax.gif" ng-show="savingFlag"/>
</div>